@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

/* Header */
* {
    margin:0;
    padding:0;
    border: none;
}

header {
    background-color: rgba(255, 241, 221, 0.7);
    width:100%;
    box-shadow: 10px 10px 3 #fff;
    padding: 0 0 0 0;
    margin:0;
}
header a {
    text-decoration: none;
}
#logo {
    font-family: phudu, sans-serif;
    letter-spacing: 8px;
    font-size:400%;
    margin: 0 0 0 30px;
    color:#3a3a3b;
    font-weight: 1200px;
    border-radius: 30px;
    border: none;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    }
    
    #menu, #logo {
        text-align: center;
        line-height: 75px;
    }
    
    #menu li {
        font-family: phudu, sans-serif;
        font-weight: 300;
        display:inline;
        list-style-type: none;
        margin-right: 30px ;
        word-spacing: 200px;
        font-size: larger;
        text-shadow: 0 0 2px #3a3a3a;
    
    }
    #menu a {
        text-decoration: none;
        color: inherit;
    }
    
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        font-size: x-large;
    }
    header hr {
        position: relative;
        border: none;
        height: 3px;
        background: #3a3a3b;
        margin-bottom: 50px;
    }
    .active {
        border-bottom: 1px solid #3a3a3a;
        text-align: center;
    }

    #info {

    }
    footer {
        background-color:rgba(255, 241, 221, 0.7);
        margin: 0;
    }
footer hr {
        position: relative;
        border: none;
        height: 3px;
        background: #3a3a3b;
}
.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
    text-align: center;
}

.social-networks i {
    text-shadow: 0 0 2px #3a3a3a;
    font-size: 300%;
    margin:0;
    padding: 5%;
    color: #3a3a3a;
}
